wget
tgcrypto
ffmpeg-python
py-tgcalls==0.9.7
pyrofork
youtube-search
youtube-search-python
python-dotenv
dnspython
gitpython
asgiref
aiofiles
apscheduler
aiohttp
requests
pillow
aiocache
motor
lyricsgenius
psutil
future
speedtest-cli
pymongo[srv]
pyromod~=1.5
deep_translator
youtube_search
telethon
httpx==0.23.3
pyrogram==2.0.106
git+https://github.com/yt-dlp/yt-dlp